.home-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 100vh;

    background: url('./img/bg/home-gray.png') no-repeat;
    background-position: 50% 50%;
    background-size: 100% 100%;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logoEx {
    width: 10vw;
    height: auto;
    rotate: 180deg;
}

.title > .logoEx {
    margin-bottom: -11.5vw;
}

.title > h1 {
    font-size: 24vw;
}

.home-buttons {
    display: flex;
}

.home-bg {
    z-index: -1;
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: blue; /* #131313; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-bg > img {
    width: auto;
    min-height: 135%;
    
    /* max-width: 100%;
    min-width: 100%; */

}