.home-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 100vh;

    background: url('./img/bg/home-gray.png') no-repeat;
    background-position: 50% 50%;
    background-size: auto 125%;
}

.home-wrapper > header {
    margin-bottom: 5%;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logoEx {
    width: 10vw;
    height: auto;
    rotate: 180deg;
    opacity: 0.85;
}

.title > .logoEx {
    margin-bottom: -12.4vw;
}

.title > h1 {
    font-size: 24vw;
}

.home-buttons {
    display: flex;
    margin-top: -2.5%;
}

.home-bg {
    z-index: -1;
    position: absolute;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: var(--main-bg-color);
}

.home-buttons {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.home-buttons > li {
    margin-right: 9%;
}

.home-buttons > li:last-child {
    margin-right: 0;
}