:root {
  font-family: Helvetica_mdEx, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  --main-bg-color: #131313;
  --secondary-bg-color: #000;
  --main-font-color: #909A9A;
  --secondary-font-color: #373737;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Helvetica_mdEx';
  src: url('assets/fonts/helveticaneueltpromdex-webfont.woff2') format('woff2'),
       url('assets/fonts/helveticaneueltpromdex-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Helvetica_md';
  src: url('assets/fonts/helveticaneueltpromd-webfont.woff2') format('woff2'),
       url('assets/fonts/helveticaneueltpromd-webfont.woff') format('woff');
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--secondary-bg-color);
  color: var(--main-font-color);
}

a {
  text-decoration: none;
  color: var(--main-font-color);
}

ul {
  list-style: none;
}

.btn {
  display: inline-block;
  text-align: center;

  background-color: #37373779;
  border-color: var(--secondary-font-color);
  color: var(--main-font-color);

  font-family: "Roboto Mono", monospace;
  font-weight: 600;
  font-size: 1.5vw;

  width: 13.5vw;
  border-width: 0.16vw;
  border-style: solid;
  border-radius: 300px;

  cursor: pointer;
}