:root {
  font-family: Helvetica_mdEx, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Helvetica_mdEx';
  src: url('assets/fonts/helveticaneueltpromdex-webfont.woff2') format('woff2'),
       url('assets/fonts/helveticaneueltpromdex-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Helvetica_md';
  src: url('assets/fonts/helveticaneueltpromd-webfont.woff2') format('woff2'),
       url('assets/fonts/helveticaneueltpromd-webfont.woff') format('woff');
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #aa3434;
  color: #909A9A;
}

ul {
  list-style: none;
}